<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolioSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/banner_info" %>
    <div class="row">
      <div class="col-12 services-title">
        <h2>Services</h2>
      </div>
    </div>
    <div class="row service-cards">
      <div class="service-card col-md-4 col-12">
        <%= render "shared/service_card", title: "RUBY", url: "https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" %>
      </div>
      <div class="service-card col-md-4 col-12">
        <%= render "shared/service_card", title: "RUBY", url: "https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" %>
      </div>
      <div class="service-card col-md-4 col-12">
        <%= render "shared/service_card", title: "RUBY", url: "https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
