<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolioSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="home" class="banner height-all-screen-navbar text-white">
      <%= render "shared/banner_info" %>
      <%= render "shared/navbar" %>
    </div>
    <%= yield %>
  </body>
</html>
